body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-fluid{
  margin:10px;
}

input{
  margin-top: 10px;
}

.fa{
  float: right;
  margin-top: 5px;
}
.list-group-item{
  float: left;
  width:95%;
}
